* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: #e55c8a;
    text-align: center;
    padding-top: 30%;
  }

  h1,a {
    color: white
    
}
